*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'iconfont';  /* project id 403499 */
    src: url('https://at.alicdn.com/t/font_403499_kz1fc6ck1orpmn29.eot');
    src: url('https://at.alicdn.com/t/font_403499_kz1fc6ck1orpmn29.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_403499_kz1fc6ck1orpmn29.woff') format('woff'),
    url('https://at.alicdn.com/t/font_403499_kz1fc6ck1orpmn29.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_403499_kz1fc6ck1orpmn29.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color:#b0b0b0;
}


header{
    width:100%;
    height:0.45rem;
    /*background: red;*/
}
header div:nth-child(1){
   width:.29rem;
    height:.45rem;
    /*background:yellow;*/
    margin:0 .15rem;
    /*margin:0 auto;*/
    float:left;

}
header div:nth-child(1) img{
    display: block;
    width:.29rem;
    height:.45rem;
    text-align: center;
}

input{
    width:2.65rem;
    height:.28rem;
    background: #ccc;
    margin:.08rem 0;
    display: block;
    float: left;
    border:none;
    border-radius:5%;
    padding:.075rem .075rem .075rem .275rem;
}
header .iconfont{
    display: block;
    color:#ccc;
    float:right;
    margin-right:.2rem;
    line-height: .45rem;
}
.banner{
    width:100%;
    height:1.95rem;
    background: yellow;

}

.thin{
    width:100%;
    height:1.296rem;
    padding:.1rem .05rem;
    background:pink;

}
.thin li{
    width:.8rem;
    height:1.084rem;
    background: pink;

}

