*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: #f7f7f7;
}

@font-face {
    font-family: 'iconfont';  /* project id 403499 */
    src: url('https://at.alicdn.com/t/font_403499_b9d6d35adzwa5rk9.eot');
    src: url('https://at.alicdn.com/t/font_403499_b9d6d35adzwa5rk9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_403499_b9d6d35adzwa5rk9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_403499_b9d6d35adzwa5rk9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_403499_b9d6d35adzwa5rk9.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color:#b0b0b0;
}
header{
    width:100%;
    height:1rem;
    background:#f73362;
    width:100%;
    height:1rem;
    /*overflow: hidden;*/
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    line-height:1rem;
}
.nav{
    padding:0 .24rem;
}
.nav span:nth-child(1){
    display: block;
    float:left;
    text-align: left;
    font-size: .5rem;
    color:#fff;

}

.nav span:nth-child(2){

    display: block;
    float:left;
    width:5.5rem;
    height:auto;
    text-align:center;
    font-size: .4rem;
    color:#fff;
}
.nav span:nth-child(3){
    display: block;
    float:right;
    text-align:right;
    font-size: .45rem;
    color:#fff;
}
.nav-item{
    width:100%;
    height:3.65rem;
    background: #cc31bd;
    padding-top:.3rem;

}
.warp{
    width:100%;
    height:1.15rem;
    /*background: pink;*/
}
.warp div{
    width:1.1rem;
    height:1.1rem;
    border:2px solid #ccc;
    background: yellow;
    border-radius: 50%;
    margin: 0 auto;
    background:url("../images/touxiang.jpg");
    background-size:cover;

}
.nav-item>p{
    text-align: center;
    font-size: .4rem;
    color:#fff;
    margin-bottom: .3rem;
}
.nav-down{
    width:100%;
    height:auto;
    /*background:yellow;*/
    border-top:1px solid #ccc;
    /*padding:0 .24rem;*/
    /*overflow: hidden;*/
}
.nav-down {
    content:"";
    display: block;
    clear: both;
}
.nav-left{
    width:50%;
    height:1.35rem;
    /*background: yellow;*/
    border-right:1px solid #ccc;
    float:left;
    text-align: center;
}

#nav-text a{
    display: block;
    width:1.866rem;
    height:1.35rem;
    /*background: pink;*/
    color:#fff;
    font-size:.3rem;
    float:left;
    padding:.2rem 0;
    text-align: center;
}
#nav-text a p{
    text-align: center;
    font-size: .4rem;
    color:#fff;
    line-height: .5rem;
}
.nav-right{
    width:50%;
    height:1.35rem;
    /*background: pink;*/
    float:left;
}
.order-tab{
    margin-top:.2rem;
    width:100%;
    height:auto;
    background:#fff;
    overflow: hidden;
    text-align: center;
    padding:.3rem .24rem;

}
.order-nav{
    font-size: .35rem;
    text-align: left;
    margin-bottom:0.2rem;
}
.order-nav span{
    display: block;
    float:right;
    text-align: right;
    font-size: .3rem;
}
.order-tab  a{
    display: block;
    float:left;
    width:1.404rem;
    height:auto;
    /*background:red;*/
    font-size:.25rem;
    color:#333;
    /*line-height: 1.35rem;*/
}
.order-tab a span{
    display: block;
    font-size: .5rem;
    color:#F73362;
}
.gongju{
    margin-top:.2rem;
    width:100%;
    height:auto;
    background:#fff;
}
.gongju-nav{
    padding:0 .24rem;
    font-size:.35rem;

}

.gongju-nav span{
    font-size:.3rem;
    display: block;
    float:right;
}
.gongju-list{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.gongju-list li{
    width:1.75rem;
    height:1.5rem;
    /*background: pink;*/
    text-align: center;
    padding:.2rem 0;
}
.gongju-list li span{
    display: block;
    color:#CC31BD;
    font-size: .6rem;
    /*line-height: 1.5rem;*/

}

.gongju-list li a{
    display: block;
    font-size: .25rem;
    color:#000;
}




/*分享开始*/
.fenxiang{
    display: block;
    width:100%;
    height:1.25rem;
    background-color: #fff;
    margin-top:.2rem;
    padding:.23rem .29rem;
    font-size: 0;
    color:#333;
}
.fenxiang span{
    display: block;
    float:left;
    text-align: left;
    font-size:.4rem;
    line-height:.8rem;
    /*margin-left:.5rem;*/
}

.fenxiang p{
    floar:right;
    font-size:.3rem;
    text-align: right;
    line-height: .8rem;

}


/*流行单品开始*/


section{
    position: absolute;
    left:0;
    right:0;
    top:1rem;
    /*left:0;*/
    bottom:1rem;
    margin:auto;
    width:100%;
    height:auto;
    overflow: scroll;
    /*padding:0 .24rem;*/

}





footer{
    width:100%;
    height:1rem;
    background:#f73362;
    position: fixed;
    left:0;
    bottom:0;
    padding:.1rem 0;

}
footer ul{
    width:7.5rem;
    height:1rem;
    /*background: pink;*/
}

footer ul li{
    width:1.875rem;
    height:100%;
    /*background: red;*/
    float:left;
}
footer ul li .iconfont{
    display: block;
    text-align: center;
    color:#fff;
    font-size: .4rem;
    padding-bottom:.05rem;

}
footer ul li a{
    display: block;
    text-align: center;
    font-size: .25rem;
    color:#fff;
}